
.ea-bg-blue {
  background-color: #7980bb;
}

main {
  background-color: #ffffff;
  overflow-y: hidden;
  min-height: 30em;
  padding-top: 1em;
  padding-bottom: 4em;
}

footer {
  border-top: 2px solid #c0c0c0;
  color: #909090;
  padding-top: 1em;
}



