
<header class="navbar navbar-expand-lg ea-bg-blue">
  <nav class="container">
    <a class="navbar-brand" (click)="navigateHome()">Easygo Accounting</a>

    <button class="navbar-toggler" type="button" (click)="toggleMenuCollapse()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" [ngbCollapse]="menuCollapsed">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="navigateToDocuments()"
             [ngClass]="{ 'active': isRouteActiveDocuments() }"
          >Documents</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="sign-in" *ngIf="!securityService.isAuthenticated">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="sign-out" *ngIf="securityService.isAuthenticated">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main>
  <section class="container">
    <router-outlet></router-outlet>
  </section>
</main>

<footer>
  <section class="container">
    <i class="fa-brands fa-osi mx-1"></i> Licensed under the Apache License, Version 2.0.
  </section>
</footer>

