# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build


/db-exec/src/test/resources/db-coordinates.yaml
/db-exec/src/test/resources/db-root.yaml
/db-exec/src/test/resources/db-tenant.yaml

/angular-ui/workspace/node_modules
