<?xml version="1.0" encoding="UTF-8"?>
<Context>

    <Environment name="easygo.db.oracle.appUserNameFA" value="${EASYGO_DB_ORACLE_appUserNameFA}"
                 type="java.lang.String" override="false" />
    <Environment name="easygo.db.oracle.appUserPasswordFA" value="${EASYGO_DB_ORACLE_appUserPasswordFA}"
                 type="java.lang.String" override="false" />

</Context>
